name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3    
    - name: Login to Docker
      run: docker login -u ${{ secrets.DOCKER_USERNAME}} -p ${{ secrets.DOCKER_PASSWORD}} docker.io
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag deploy:latest
    - name: Check Docker Images
      run: docker images
    - name: Run Docker image
      run:  docker push Idinadi/deploy:latest
  
